.products {
  width: 100%;
  height: auto;
  background: #F8F8FF;
}

/** product-main css start */

.products .product-main {
  width: 100%;
  padding-top: 84px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 46px;
  align-items: center;
}

.products .product-main .burak-restaurant {
  min-width: 328px;
  height: 46px;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #343434;
  margin-right: 126px;
}

.products .product-main .mui-icon-custom {
  width: 360px;
  height: 29px;
  border-radius: 18.5px;
  border: 1px solid #FFF;
  background: #FFFCFC;
  box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
  padding: 0;
}

.products .product-main .mui-icon-custom .color-search-ico::placeholder {
  font-family: "Quicksand";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products .product-main .mui-icon-custom .search-product-box {
  height: 29px;
  border-radius: 18.5px;
  background: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 17px 7px 25px;
}

.products .product-main .mui-icon-custom .icon-search-product {
  width: 58px;
  height: 17px;
  text-align: center;
  color: #D7B586;
  font-family: "Quicksand";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products .product-main .mui-icon-custom .icon-serch {
  height: 17px;
}

/** product-top-button css start */

.products .product-top-button {
  margin-top: 72px;
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.products .product-top-button .product-top-btn-flex {
  margin-left: 20px;
  width: 70px;
  height: 36.5px;
}

.products .product-top-button .product-top-btn-flex:nth-of-type(3) {
  margin-right: 47px;
}

.products .product-top-button .product-top-btn-flex .order {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 15px;
}

/** product-section-ctegory vertical button start */

.products .product-section-ctegory {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products .product-section-ctegory .all-category {
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
}

.products .product-section-ctegory .all-category .main-category {
  transform: rotate(180deg);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  grid-gap: 10px;
}

.products .product-section-ctegory .all-category .main-category Button {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 9px 14px;
}

/** product-section-ctegory product-menu-cards start */

.products .product-section-ctegory .product-wrapper {
  width: 1194px;
  height: 764px;
  margin-left: 22px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 34px;
}

.products .product-section-ctegory .product-wrapper .product-card .product-img {
  width: 273px;
  height: 275px;
  border-top-right-radius: 50px;
}

.products .product-section-ctegory .product-wrapper .product-card .product-sale {
  margin: 10px;
  width: 90px;
  height: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 151, 55);
  border-radius: 20px;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #F8F8FF;
}

.products .product-section-ctegory .product-wrapper .product-card .flex-eye {
  width: 273px;
  margin-top: 150px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-gap: 27px;
  line-height: 64px;
  align-items: center;
}

.products .product-section-ctegory .product-wrapper .product-card .flex-eye .shop-btn {
  width: 64px;
  height: 46px;
  margin-right: 24px;
  border-radius: 10px;
  border: 1px solid #E3C08D;
  background: rgba(187, 47, 200, 0.78);
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
}

.products .product-section-ctegory .product-wrapper .product-card .product-img:hover:before {
  opacity: 1;
}

/* .products .product-section-ctegory .product-wrapper .product-card .product-img:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
} */

.products .product-section-ctegory .product-wrapper .product-card .product-img:hover .shop-btn,
.products .product-section-ctegory .product-wrapper .product-card .product-img:hover .view-btn {
  opacity: 1;
}



.products .product-section-ctegory .product-wrapper .product-card .flex-eye .view-btn {
  position: relative;
  width: 24px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  padding: 30px 10px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 50%;
}

.products .product-section-ctegory .product-wrapper .product-card .product-desc {
  margin-top: 18px;
  text-align: center;
}

.products .product-section-ctegory .product-wrapper .product-card .product-desc .product-title {
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-section-ctegory .product-wrapper .product-card .product-desc .product-title:nth-child(2) {
  color: #E3C08D;
  margin-top: 5px;
}

.products .product-section-ctegory .product-menu-cards .list-category-section .flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

/** family-brands start */

.products .family-brands {
  width: 100%;
  margin-top: 67px;
  background-color: #0D1518;
}

.products .family-brands .family-brands-title {
  margin-top: 84px;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #E3C08D;
  text-align: center;
}

.products .family-brands .family-brands-cards {
  background-color: #0D1518;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 86px;
}

.products .family-brands .family-brands-cards .brand-card {
  width: 258.78px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #0D1518;
  box-shadow: 0px 0px 22px 0px #E4D4D4;
  margin: 60px 0px 90px;
}

.products .family-brands .family-brands-cards .brand-card img {
  width: 258.78px;
  height: 350px;
  padding: 10px;
}

/** location Our address start */

.products .location .locat-frame-title {
  width: 232px;
  height: 53.124px;
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  margin-top: 47px;
}

.products .locat-frame-google iframe {
  margin: auto;
  width: 1300px;
  height: 567.036px;
  margin: 80px 0 90px;
}

/** ChosenProduct start */

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
